# ignore all dotfiled
.*
!/.gitignore
!/.npmignore

# ignore test files
test.js
src/**/*.test.js
dist/**/*.test.js

# ignore examples
examples

# confis
babel.config.cjs
tsconfig.json

# npm pack
*.tgz
